@import 'tailwindcss';
@import 'tw-animate-css';
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap');
@plugin '@tailwindcss/typography';
@custom-variant dark (&: is(.dark *));

/* Heading styles with Istok Web font */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Istok Web', sans-serif !important;
  font-weight: 700 !important;
}
p {
  font-family: 'Istok Web', sans-serif !important;
  font-weight: 400 !important;
}
@theme inline {
  --color-white: var(--color-slate-800);

  --color-sky-50: #eaffff;
  --color-sky-100: #cbfdff;
  --color-sky-200: #9ef9ff;
  --color-sky-300: #5bf1ff;
  --color-sky-400: #02ddff;
  --color-sky-500: #00c2e5;
  --color-sky-600: #009ac0;
  --color-sky-700: #037a9b;
  --color-sky-800: #0d627d;
  --color-sky-900: #105169;
  --color-sky-950: #033549;

  --color-primary-50: var(--color-sky-50);
  --color-primary-100: var(--color-sky-100);
  --color-primary-200: var(--color-sky-200);
  --color-primary-300: var(--color-sky-300);
  --color-primary-400: var(--color-sky-400);
  --color-primary-500: var(--color-sky-500);
  --color-primary-600: var(--color-sky-600);
  --color-primary-700: var(--color-sky-700);
  --color-primary-800: var(--color-sky-800);
  --color-primary-900: var(--color-sky-900);
  --color-primary-950: var(--color-sky-950);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--color-slate-600);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /*MDC shadows elevation 1 through 7*/
  --shadow-2xs:
    0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  --shadow-xs:
    0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  --shadow:
    0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 1px 8px 0 rgba(0, 0, 0, 0.12);
  --shadow-md:
    0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  --shadow-lg:
    0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14),
    0 1px 14px 0 rgba(0, 0, 0, 0.12);
  --shadow-xl:
    0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12);
  --shadow-2xl:
    0 4px 5px -2px rgba(0, 0, 0, 0.2), 0 7px 10px 1px rgba(0, 0, 0, 0.14),
    0 2px 16px 1px rgba(0, 0, 0, 0.12);
}

:root {
  --background: var(--color-slate-50);
  --foreground: var(--color-slate-800);
  --card: var(--color-slate-50);
  --card-foreground: var(--color-slate-800);
  --popover: var(--color-slate-50);
  --popover-foreground: var(--color-slate-800);
  --primary: var(--color-primary-500);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: var(--color-slate-100);
  --muted-foreground: var(--color-slate-300);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: var(--color-slate-100);
  --input: oklch(0.929 0.013 255.508);
  --ring: var(--color-slate-100);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: var(--color-slate-200);
  --sidebar-foreground: var(--color-slate-800);
  --sidebar-primary: var(--color-emerald-600);
  --sidebar-primary-foreground: var(--color-slate-200);
  --sidebar-accent: var(--color-primary-500);
  --sidebar-accent-foreground: var(--color-primary-50);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);

  --tw-prose-body: var(--color-sky-700);

  --tw-prose-headings: var(--color-slate-800);
  --tw-prose-lead: oklch(44.6% 0.043 257.281);
  --tw-prose-links: oklch(20.8% 0.042 265.755);
  --tw-prose-bold: oklch(20.8% 0.042 265.755);
  --tw-prose-counters: oklch(55.4% 0.046 257.417);
  --tw-prose-bullets: oklch(86.9% 0.022 252.894);
  --tw-prose-hr: oklch(92.9% 0.013 255.508);
  --tw-prose-quotes: oklch(20.8% 0.042 265.755);
  --tw-prose-quote-borders: oklch(92.9% 0.013 255.508);
  --tw-prose-captions: oklch(55.4% 0.046 257.417);
  --tw-prose-kbd: oklch(20.8% 0.042 265.755);
}
.dark {
  --color-white: var(--color-slate-300);
  --background: var(--color-slate-300);
  /* --foreground: var(--color-slate-50); */
  --card: var(--color-slate-200);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
